@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

body {
  margin: 0;
  overflow: hidden;
  background-color: #eae7dc;
}


/* SIDE MENU PART */

.sideMenu-wrapper {
  margin-top: 100px;
}

.sideMenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #d8c3a5;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sideMenu a {
  display: block;
  padding: 4px 4px 4px 16px;
  text-decoration: none;
  font-size: 45px;
  font-family: 'inconsolata', monospace;
  color: #ffffff;
  letter-spacing: 5px;
  margin-bottom: 20px;
  transition: 0.3s;
  
}

.sideMenu .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 95px;
  margin-left: 50px;
}

/* SIDE MENU HOVER EFFECT */

.sideMenu-wrapper a:after {
  z-index: -1;
  position: absolute;
  left: 0%;
  width: 0;
  height: 50px;
  background: #e85e4f;
  content: '';
  transition: width 0.35s ease-in-out;
}

.sideMenu-wrapper a:hover:after {
  width: 10%;
}

.sideMenu-weapper a:hover {
  padding-left: 64px;
  transition: 0.35s ease-in-out;
}

/* CONTENT PART */

#page-content {
  transition: margin-left 0.5s;
  padding: 16px;
}

h1 {
  font-family: 'inconsolata', monospace;
  font-size: 8em;
  text-align: center;
  letter-spacing: 12px;
  padding: 100px 0px 100px 25px;
}

span {
  letter-spacing: 50px;
  padding-left: 44px;
  color: #e85e4f;
}
